{
  "openapi": "3.1.0",
  "info": {
    "title": "Protocol Tooling API",
    "version": "1.0.0",
    "description": "Canonical REST API transport for Protocol Tooling agent-native scheduling infrastructure, supporting 8 canonical WebMCP tools."
  },
  "servers": [
    {
      "url": "https://api.protocoltooling.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/api/businesses/{slug}/search-services": {
      "post": {
        "operationId": "searchServices",
        "summary": "Search services for a business",
        "description": "Searches and filters active services offered by the business by keyword or general intent query.",
        "tags": ["Services"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Business URL slug identifier"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": { "type": "string", "description": "Search query or keyword" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of matching services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Service" }
                    }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/get-service-details": {
      "post": {
        "operationId": "getServiceDetails",
        "summary": "Get full service details",
        "description": "Retrieves comprehensive service details including pricing, duration, intake requirements, and location policy.",
        "tags": ["Services"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": { "type": "string", "description": "Service ID" }
                },
                "required": ["service_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Service" }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/check-service-area": {
      "post": {
        "operationId": "checkServiceArea",
        "summary": "Check service area eligibility",
        "description": "Determines whether a given postal code is within the active service area for field-service appointments.",
        "tags": ["Service Area"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": { "type": "string", "description": "Target service ID" },
                  "postal_code": { "type": "string", "description": "5-digit US postal code" }
                },
                "required": ["service_id", "postal_code"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service area eligibility result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": { "type": "string", "enum": ["eligible", "ineligible", "not_required"] },
                        "zone_id": { "type": "string" },
                        "message": { "type": "string" }
                      },
                      "required": ["status", "message"]
                    }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/get-availability": {
      "post": {
        "operationId": "getAvailability",
        "summary": "Query available booking slots",
        "description": "Computes authoritative availability slots for a service across date ranges, respecting working hours, time zones, resource allocations, and blocked periods.",
        "tags": ["Availability"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": { "type": "string" },
                  "start_date": { "type": "string", "format": "date", "example": "2026-09-01" },
                  "end_date": { "type": "string", "format": "date", "example": "2026-09-07" },
                  "postal_code": { "type": "string" },
                  "preferred_resource_id": { "type": "string" },
                  "time_preference": { "type": "string", "enum": ["morning", "afternoon", "evening", "any"] }
                },
                "required": ["service_id", "start_date", "end_date"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AvailabilitySlot" }
                    }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/create-appointment": {
      "post": {
        "operationId": "createAppointment",
        "summary": "Create confirmed appointment",
        "description": "Authoritatively creates and commits a booked appointment using a selected availability slot ID with idempotency guarantees.",
        "tags": ["Appointments"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": { "type": "string" },
            "description": "Client-supplied idempotency key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service_id": { "type": "string" },
                  "slot_id": { "type": "string" },
                  "customer": { "$ref": "#/components/schemas/CustomerInput" },
                  "notes": {
                    "type": "object",
                    "properties": {
                      "description": { "type": "string" },
                      "location_detail": { "type": "string" }
                    }
                  },
                  "idempotency_key": { "type": "string" }
                },
                "required": ["service_id", "slot_id", "customer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created appointment confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Appointment" }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/appointments/get": {
      "post": {
        "operationId": "getAppointment",
        "summary": "Retrieve appointment by ID",
        "description": "Fetches current appointment details, status, timing, customer information, and assigned resources.",
        "tags": ["Appointments"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment_id": { "type": "string" }
                },
                "required": ["appointment_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Appointment" }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/appointments/reschedule": {
      "post": {
        "operationId": "rescheduleAppointment",
        "summary": "Reschedule existing appointment",
        "description": "Atomically updates an existing appointment to a newly selected slot ID.",
        "tags": ["Appointments"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment_id": { "type": "string" },
                  "new_slot_id": { "type": "string" }
                },
                "required": ["appointment_id", "new_slot_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rescheduled appointment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/Appointment" }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/businesses/{slug}/appointments/cancel": {
      "post": {
        "operationId": "cancelAppointment",
        "summary": "Cancel existing appointment",
        "description": "Marks an appointment as cancelled and releases associated resource locks.",
        "tags": ["Appointments"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment_id": { "type": "string" },
                  "reason": { "type": "string" }
                },
                "required": ["appointment_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "appointment_id": { "type": "string" },
                        "status": { "type": "string", "example": "cancelled" },
                        "cancelled_at": { "type": "string", "format": "date-time" }
                      },
                      "required": ["appointment_id", "status"]
                    }
                  },
                  "required": ["ok", "data"]
                }
              }
            }
          },
          "400": {
            "description": "Domain error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Service": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "business_id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "duration_minutes": { "type": "integer" },
          "price_cents": { "type": "integer" },
          "currency": { "type": "string" },
          "keywords": { "type": "array", "items": { "type": "string" } },
          "location_policy": { "type": "string", "enum": ["CUSTOMER", "BUSINESS", "NONE"] },
          "service_area_required": { "type": "boolean" },
          "resource_requirements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resource_type": { "type": "string" },
                "quantity": { "type": "integer" },
                "capability": { "type": "string" }
              }
            }
          },
          "intake_fields": { "type": "array", "items": { "type": "string" } }
        },
        "required": ["id", "business_id", "name", "duration_minutes", "price_cents", "currency", "location_policy", "service_area_required"]
      },
      "CustomerInput": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "service_address": {
            "type": "object",
            "properties": {
              "line1": { "type": "string" },
              "city": { "type": "string" },
              "region": { "type": "string" },
              "postal_code": { "type": "string" }
            },
            "required": ["line1", "city", "region", "postal_code"]
          }
        },
        "required": ["name"]
      },
      "AvailabilitySlot": {
        "type": "object",
        "properties": {
          "slot_id": { "type": "string" },
          "service_id": { "type": "string" },
          "starts_at": { "type": "string", "format": "date-time" },
          "ends_at": { "type": "string", "format": "date-time" },
          "resources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resource_id": { "type": "string" },
                "resource_type": { "type": "string" }
              }
            }
          },
          "price": {
            "type": "object",
            "properties": {
              "amount": { "type": "integer" },
              "currency": { "type": "string" }
            }
          }
        },
        "required": ["slot_id", "service_id", "starts_at", "ends_at", "resources", "price"]
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "business_id": { "type": "string" },
          "service_id": { "type": "string" },
          "status": { "type": "string", "enum": ["confirmed", "cancelled"] },
          "starts_at": { "type": "string", "format": "date-time" },
          "ends_at": { "type": "string", "format": "date-time" },
          "customer": { "$ref": "#/components/schemas/CustomerInput" },
          "notes": {
            "type": "object",
            "properties": {
              "description": { "type": "string" },
              "location_detail": { "type": "string" }
            }
          },
          "price_cents": { "type": "integer" },
          "currency": { "type": "string" },
          "idempotency_key": { "type": "string" },
          "resource_allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resource_id": { "type": "string" },
                "resource_type": { "type": "string" }
              }
            }
          }
        },
        "required": ["id", "business_id", "service_id", "status", "starts_at", "ends_at", "customer", "price_cents", "currency", "resource_allocations"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "example": false },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "BUSINESS_NOT_FOUND",
                  "SERVICE_NOT_FOUND",
                  "OUTSIDE_SERVICE_AREA",
                  "LOCATION_REQUIRED",
                  "INVALID_TIME_RANGE",
                  "NO_AVAILABILITY",
                  "SLOT_UNAVAILABLE",
                  "RESOURCE_UNAVAILABLE",
                  "APPOINTMENT_NOT_FOUND",
                  "APPOINTMENT_NOT_RESCHEDULABLE",
                  "APPOINTMENT_ALREADY_CANCELLED",
                  "IDEMPOTENCY_CONFLICT",
                  "VALIDATION_ERROR",
                  "INTERNAL_ERROR"
                ]
              },
              "message": { "type": "string" },
              "retryable": { "type": "boolean" },
              "field": { "type": "string" }
            },
            "required": ["code", "message", "retryable"]
          }
        },
        "required": ["ok", "error"]
      }
    }
  }
}
